.bringing{ margin:auto 10% }

.audio{ height: 80vh;
    width: 550px;  
   object-fit: cover;}

   @media (width < 500px) {
    .bringing{ margin: 4% }
   .audio{ height: 40vh;

   object-fit: cover;}
   }